@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  
  --font-robot: "Roboto";
}

html, body {
    /* height: 100%; */
    /* margin: 0; */
    /* padding: 0; */
    /* overflow-x: hidden; */
}


/* .menuItems {
  background:linear-gradient(0deg,rgba(25,55,109,0.2)0%,rgba(25,55,109,1)100%);
} */

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

/* .heroImg {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
} */

/* @keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
} */

html {
  scroll-behavior: smooth;
}